img {
    display: inline-block;
}

.rounded-5 {
    border-radius: 2rem!important;
}

.text-shadow {
    text-shadow: rgb(0 0 0 / 14%) 0px 7px 15px;
}

.bg-gradient-ferone {
    background: linear-gradient(0deg, #1d64ad, #4a87c5, #1d64ad);
}

.mh-25 {
    max-height: 25% !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #fff;
}

.table-striped>tbody>tr:nth-of-type(even) {
    --bs-table-accent-bg: rgb(0 0 0 / 3%);
}

.bg-lightgray {
    background-color: #f0f1f1!important;
}

.fit-by-content {
    width: 1%;
    white-space: nowrap;
}

.profile-permission_icon {
    max-height: 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 10%);
    border: 3px solid #f5f5f5;
}

.invalid-feedback.text-sm,
.text-xs {
    font-size: 0.75rem;
}

.text-error {
    display: none;
}

.validation-error .text-error {
    display: table-caption;
}

.btn-link.disabled,
.btn-link:disabled {
    cursor: default;
}

.settings_option-block {
    min-height: 75px
}
